expectedreceipt.sendersystemid=COTY
expectedreceipt.customerid=COTY
expectedreceipt.receiversystemid=EWM
expectedreceipt.quantityUOM=EA
expectedreceipt.tolerance=10
pgr.txname=RECEIPT_CONFIRM
pgr.txversion=1.0
pgr.txtype=GRC
pgi.txname=GOODS_ISSUE
pgi.txversion=1.0
pgi.txtype=DELIVERY
cotyoutbounddelivery.receiversystemid=EWM
cotyoutbounddelivery.noregioncode.ctryname=NZ
material.receiversystemid=EWM
cotyoutbounddelivery.ConsolVASflag=Z_UC_PPWREQ='YES'
whsShipmentOrder.deliveryTopic=CDM/Outbound/T_WarehouseOrder
material.PCE.mUOM=EA
material.CT.mUOM=CS
material.allowed.UOMs='CT','ST','PCE','TUC'
material.dimensionUOM=MMT
stockstatuschangeout.txname=GOODS_MOVEMENT
stockstatuschangeout.txversion=1.0
stockstatuschangeout.txcode=MB1B
stockstatuschangeout.EA.mUOM=PCE
stockstatuschangeout.allowed.movtypes=311,323,325

